<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowSystem</key>
	<true/>
	<key>AllowNetworkAccess</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>*NIX manual</string>
	<key>CFBundleIdentifier</key>
	<string>com.interdimensionmedia.widget.nixmanual</string>
	<key>CFBundleName</key>
	<string>NIX manual</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>CloseBoxInsetX</key>
	<integer>0</integer>
	<key>CloseBoxInsetY</key>
	<integer>0</integer>
	<key>MainHTML</key>
	<string>nixmanual.html</string>
</dict>
</plist>
